<%- include('./layouts/header') %>

<h1 class="title">Role Based Access Control</h1>
<div class="tutorial-info">
  <li><b>Roles</b> (admin, moderator, client)</li>
  <img 
    src="https://media.istockphoto.com/id/1057878488/photo/selecting-leader-of-business-organization-human-resource-management-head-hunting.webp?a=1&b=1&s=612x612&w=0&k=20&c=-tO2NeLvt_FNDOla21nK-TtmKKmvD_Rbbi7SEN-4Y08=" 
    alt="Role Based Access Control" 
    style="max-width: 100%; height: auto; border-radius: 10px; margin-top: 20px;"
  />
</div>

<%- include('./layouts/footer') %>
